<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>定时任务-任务列表</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="/static/css/zui.min.css">
  <link rel="stylesheet" type="text/css" href="/static/lib/chosen/chosen.min.css">
  <link rel="stylesheet" type="text/css" href="/static/lib/datagrid/zui.datagrid.min.css">
  <link href="/static/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/zui-theme.css">
  <script type="text/javascript" src="/static/lib/jquery/jquery.js"></script>
  <script type="text/javascript" src="/static/js/zui.min.js"></script>
  <script type="text/javascript" src="/static/lib/chosen/chosen.min.js"></script>
  <script src="/static/lib/datetimepicker/datetimepicker.min.js"></script>
  <script type="text/javascript" src="/static/lib/datagrid/zui.datagrid.js"></script>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script type="text/javascript" src="<%=htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks[chunk].css %>">
  <% } %>
  <!--[if lt IE 9]>
  <script src="dist/lib/ieonly/html5shiv.js"></script>
  <script src="dist/lib/ieonly/respond.js"></script>
<![endif]-->
</head>

<body>
  <section class="container-fluid pd10 hide">
    <header class="page-header-own">
      <section class="search-group form-condensed">
        <div class="search-group-item">
          <select data-placeholder="服务节点" id="NodeId" class="chosen-select form-control" tabindex="1"></select>
        </div>
        <div class="search-group-item">
          <select data-placeholder="任务类别" id="CategoryId" class="chosen-select form-control" tabindex="1"></select>
        </div>
        <div class="search-group-item">
          <input type="text" class="form-control form-date ib" id="TaskBeginCreateTime" placeholder="创建开始日期" autocomplete="off">
        </div>
        <div class="search-group-item">
          <input type="text" class="form-control form-date ib" id="TaskEndCreateTime" placeholder="创建结束日期" autocomplete="off">
        </div>
        <div class="search-group-item">
          <select data-placeholder="任务状态" id="TaskState" class="chosen-select form-control" tabindex="1"></select>
        </div>
        <div class="search-group-item">
          <input type="text" class="form-control w200 ib" id="TaskNameKeyWord" placeholder="请输入任务名称" autocomplete="off">
        </div>
        <div class="search-group-item">
          <button class="btn btn-primary" id="searchBtn"><i class="icon icon-search fz12"></i> 搜索</button>
          <button class="btn btn-warning" id="resetBtn"><i class="icon icon-refresh fz12"></i> 重置</button>
        </div>
        <div class="search-group-item ml10">
          <div class="switch">
            <input id="coldTaskSwitch" type="checkbox">
            <label>显示冷藏任务</label>
          </div>
        </div>
      </section>
      <section class="operate-group mt10">
        <div class="btn-group">
          <button class="btn btn-sm btn-primary" id="createTaskBtn">添加任务</button>
          <button class="btn btn-sm btn-primary" id="coldTaskBtn">冷藏任务</button>
        </div>
      </section>
    </header>
    <section class="table-group">
      <div id="taskTb" class="datagrid datagrid-borderless"></div>
      <div class="pager" id="taskPager"></div>
    </section>
  </section>
</body>

</html>