.container {
  height: calc(100% - 30px);
  text-align: center;
}

.login-form {
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 700px);
  height: 500px;
  padding: 72px 36px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 2%;
  position: relative;
  margin-top: 15%;
  box-shadow: 10px 10px 50px #333;
}

.login-form .form-group {
  text-align: left;
}